---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import QuienesSomos from "../components/sections/QuienesSomos.astro";
import Actualidad from "../components/sections/Actualidad.astro";
import Actualidad2 from "../components/sections/Actualidad2.astro";
import Sede from "../components/sections/Sede.astro";

import Layout from "../layouts/Layout.astro";
import SiteFooter from "../components/molecules/SiteFooter.astro";

import PorqueAsistir from "../components/sections/PorqueAsistir.astro";
import Speakers from "../components/sections/Speakers.astro";
import Notas from "../components/sections/Notas.astro";
import Recursos from "../components/sections/Recursos.astro";
import Patrocinadores from "../components/sections/Patrocinadores.astro";
import Patrocinadores2 from "../components/sections/Patrocinadores2.astro";
import FlujoRegistroIsland from "../components/islands/FlujoRegistroIsland.tsx";
import { BearCounter } from "../components/storeTest/BearCounter";
import { BearControls } from "../components/storeTest/BearControls";
import OpenPopUpButton from "../components/islands/atoms/OpenPopUpButton";
import PatrocinadoresSolos from "../components/sections/PatrocinadoresSolos.astro";
import FlujoRegistroSectionIsland from "../components/islands/FlujoRegistroSectionIsland";
import FloatingWhatsApp from "../components/islands/atoms/FloatingWhatsApp";
import Precios from "../components/sections/Precios.astro";
import Agenda from "../components/sections/Agenda.astro";
import Faqs from "../components/sections/Faqs.astro";


---

<Layout title="Foro Menopausia 2025">
  <LandingHeader />

  <main
    class="relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
       <HeroSection /> 
      <!-- <OpenPopUpButton client:load /> -->
    </div>
    
    

    


    <div class="snap-center">
      <PatrocinadoresSolos />
    </div>
    <div class="snap-center">
      <Actualidad2 />
    </div>
    <div class="snap-center">
      <Speakers />
    </div>

    <div class="snap-center">
      <Agenda />
    </div> 

    <div class="snap-center">
      <Actualidad />
    </div>

     <div class="snap-center">
      <PorqueAsistir />
    </div>

    <div class="snap-center">
      <Precios />
    </div>
    
    
    <div class="snap-center">
      <!-- <Sede /> -->
      
    </div> 

    

   <div class="snap-center">
      <QuienesSomos />
    </div>
    <div class="snap-center">
      <Faqs />
    </div>
   
    

   <!--  <div class="snap-center">
      <Notas />
    </div>
    
    <div class="snap-center">
      <Recursos />
      
    </div>  -->
    <div class="snap-center justify-center flex items-center bg-capuchino py-6">
      <FlujoRegistroSectionIsland client:visible />

    </div>
    <div class="snap-center">
      <Patrocinadores2 />
      
    </div>
    <div class="snap-center">
      
      <SiteFooter />
    </div> 
  

    <!-- <FloatingWhatsApp className='z-50 bg-apple shadow-md shadow-[rgba(57,35,80,0.9)] rounded-full' size={60} positionX="rigth" positionY="bottom" waNumber="525540701018" /> -->
    <!-- <FlujoRegistroIsland client:visible /> -->
  </main>
</Layout>
