---
// Define las propiedades (props) que el componente espera recibir
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<div class="border-b border-gray-200 py-4">
  <button class="flex justify-between items-center w-full text-left text-lg font-semibold text-guacamole focus:outline-none">
    <span>{question}</span>
    <span>+</span>
  </button>
  <div class="mt-2 text-white">
    <p>{answer}</p>
  </div>
</div>